<!DOCTYPE html>
<html>
  <head>
    <title>Sector Analysis</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>Make your sector Analysis before you Invest</h1>
    <img id="logo" src="/static/images/logo.png" alt="A description of the image">

    <form action="/search" method="GET">
      <input type="text" id="query" name="query" placeholder="Ask a Question related to Different sectors"><br>
      <input type="submit" value="search">
    </form> 
  </body>
</html>
